.salesView {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 15vw;
}

.salesDisplay {
  display: flex;
  width: inherit;
  flex-flow: column;
  justify-content: center;
  max-height: 50vh;
  overflow-x:hidden;
  overflow-y:auto;
}

.saleItem {
  display: flex;
  flex-flow: row;
  min-height: 50px;
  flex-grow: 0.9;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 25px;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  height: 50px;

  background-color: #2D2D2D;
}

.totaldisplay {
  display: flex;
  width: inherit;
  height: 20vh;
  flex-flow: column;
  align-content: center;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #2D2D2D;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 5px;
}

.totalprice {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.saleButton {
  display: flex;
  flex-flow: row;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items:center;
  cursor: pointer;
  border-radius: 10px;
  background-color: #FFFFFF;
}
