
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Caxy</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/panels.css" />
    <link rel="stylesheet" href="/css/topmenu.css" />
    <link rel="stylesheet" href="/css/category.css" />
    <link rel="stylesheet" href="/css/product_grid.css" />
    <link rel="stylesheet" href="/css/saledisplay.css" />
  </head>
  <body>
