<div class="login-form">
  <form action="/loginmanager" method="post">
    <div class="form-control">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Enter your password"
      />
    </div>
    <div class="form-control">
      <button type="submit" class="btn">Login</button>
    </div>
  </form>
</div>
